<div class="modal-header">
  <h3 class="modal-title">Log in</h3>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <form [formGroup]="loginForm" (ngSubmit)="formSubmit(loginForm)">
    <ng-container>
      <div class="form-group">
        <input
          formControlName="username"
          type="text"
          class="form-control"
          id="usernameInput"
          placeholder="User Name"
        />
        <div
          [style.display]="
            loginForm.get('username')?.getError('required') &&
            !loginForm.get('username')?.pristine
              ? 'block'
              : 'none'
          "
          class="alert alert-danger"
        >
          Please enter username
        </div>
      </div>

      <div class="form-group">
        <input
          formControlName="password"
          type="text"
          class="form-control"
          id="passwordInput"
          placeholder="Password"
        />
        <div
          [style.display]="
            loginForm.get('password')?.getError('required') &&
            !loginForm.get('password')?.pristine
              ? 'block'
              : 'none'
          "
          class="alert alert-danger"
        >
          Please enter password
        </div>
      </div>
      <div *ngIf="errorMessage.length > 0" class="alert alert-danger">
        <p>{{errorMessage}}</p>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </ng-container>
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
