<div class="productGrid">
  <ul
    *ngFor="let i of products; let ind = index"
    style="text-align: center; list-style: none"
  >
    <div class="card" (click)="openModal(ind)">
      <img src="{{ i.pic }}" class="card-img-top" alt="{{ i.productName }}" />
      <div class="card-body">
        <h5 class="card-title">{{ i.productName }}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">${{ i.price }}</li>
      </ul>
      <div class="card-body">
        <a
          class="btn btn-danger"
          (click)="addCart(i.productId); cartButtonPress($event)"
          >Add to Cart</a
        >
      </div>
    </div>
  </ul>
</div>
